/* ================================= 
  Base Element Styles
==================================== */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #4a4a4a;
}
 

img {
    max-width: 100%;
}


p {
    font-size: 1.1rem;
    font-weight: 300;
}

h2 {
    font-weight: 700;
    font-size: 1.25rem;
    text-transform: uppercase;
}

h3 {
    font-weight: 400;
    font-size: 1.6rem;
    margin-top: .5rem;
}

a {
    text-decoration: none;
    color: #4a4a4a;
}

ul {
    padding: 0;
    list-style: none;

}

/* ================================= 
  Base Layout Styles
==================================== */

.about-me p,
.contact p {
    font-size: 1.35rem;
    font-weight: 400;
    color: #989898;
}

.contact a {
    font-weight: 600;
    color: #888;
}


/* ---- Navigation ---- */

.main-nav a {
    display: block;
    padding: 1rem 0;
    margin: .5rem 0;
    background-color: #fff;
    font-weight: 700;
    font-size: 1.25rem;
}

.footer-nav a {
    font-size: 1.1rem;
    font-weight: 700;
}

.main-nav a,
.footer-nav a {
    text-transform: uppercase;
}

nav a:hover {
    opacity: .7;
}

.footer-nav ul {
    display: none;
}

.footer-nav {
    float: right;
}

.main-footer p {
    font-size: 1.25rem;
    font-weight: 700;
    float: left;
    margin: 0;
}


/* ---- Page Elements ---- */

.name {
    margin-top: 0;
}

.profile-img {
    max-width: 70%;
}

.col img {
    margin-top: 15px;
    margin-bottom: 15px;
}

.t-border {
    border-top: 2px solid #dfe2e6;
    padding-top: 1rem;
}


/* ---- Containers ---- */

.main-header,
.contact, 
.main-footer {
    background-color: #fafafa;
}

.container {
    padding: 5%;
}

/* ---- Float clearfix ---- */

.clearfix::after {
    content: "";
    display: table;
    clear: both;
  }


/* ================================= 
  Media Queries
==================================== */

@media (min-width: 768px) {

    .main-nav li,
    .footer-nav li {
      display: inline-block;
      margin: 0 1em;
    }

    .main-nav a {
        background-color: transparent;
    }

    .profile-img {
        float: right;
        margin-left: 2.5rem;
    }

    .about-me p {
        text-align: left;
    }

    .col {
        float: left;
        width: 50%;
        padding-left: 1em;
        padding-right: 1em;
     
    }

    .contact .container {
        padding: 5% 15%;
    }

    .mobile {
        display: none;
    }

    .footer-nav ul {
        display: initial;
        margin: 0;
    }

}

@media (min-width: 1024px) {

    .container {
        max-width: 1150px;
        margin: 0 auto;
        padding: 2.5%;
    }

    .name { 
        float: left;
    }

    .main-nav {
        float: right;
    }

    ul,
    .main-nav a {
        margin: 0;
    }

    .col {
        width: 33.33%;
     
    }
  
  }


